html {
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    cursor: default;
}

form {
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 270px;
    justify-content: center;
}

form>label {
    display: flex;
    justify-content: space-between;
}

.form-input {
    width: 50%;
}

#submit-btn,
#query-btn {
    margin: 0 auto;
}

#trade-record-table {
    border-collapse: collapse;
    text-align: center;
}

#trade-record-table th:nth-child(n):not(:nth-last-child(1)),
#trade-record-table td:nth-child(n):not(:nth-last-child(1)) {
    border: 1px solid #ddd;
    padding: 5px 10px;
}

#trade-record-table th:nth-last-child(1),
#trade-record-table td:nth-last-child(1) {
    padding: 5px 10px;
}

#trade-record-table th:nth-child(n):not(:nth-last-child(1)) {
    background-color: #000;
    color: #fff;
}

#trade-record-table tr:nth-child(even)>:nth-child(n):not(:nth-last-child(1)) {
    background-color: #f2f2f2;
}

#trade-record-table tr:not(:nth-child(1)):hover>:nth-child(n):not(:nth-last-child(1)) {
    background-color: #ddd;
}

.trade-record-table-row .id {
    font-size: 0.8rem;
    color: #888;
}

.trade-record-table-row span.input {
    border: 1px solid transparent;
    padding: 2px 6px;
    transition-duration: 300ms;
}

.trade-record-table-row span.input:not(.not-editing) {
    border-color: #444;
    border-radius: 3px;
    background-color: #fff;
}

.trade-record-table-row span.input:not(.not-editing):hover {
    cursor: text;
}

.crud>div {
    display: flex;
    font-size: 0.8rem;
}

.crud>div>.update-btn,
.crud>div>.delete-btn,
.crud>div>.save-change-btn,
.crud>div>.forget-change-btn {
    cursor: pointer;
}

.crud>div>.update-btn {
    color: rgb(0, 149, 255);
}

.crud>div>.delete-btn {
    color: rgb(193, 0, 0);
}

.crud>div>.save-change-btn {
    color: #4CAF50;
}

.crud>div>.forget-change-btn {
    color: #888;
}

.divide-line {
    margin: 0 2px;
}

#info-today {
    display: flex;
}

#info-today>div {
    margin: 10px 20px;
}