:root {
    --lightGray: #bbb;
}

::selection {
    color: #fff;
    background: var(--lightGray);
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--lightGray);
}

html {
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    cursor: default;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: inherit;
}

#main {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.chart-container {
    width: inherit;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

#fund-invested-chart {
    width: max-content;
}

#create-trade-record-btn-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 auto 1vh auto;
}

#create-trade-record-btn {
    font-size: 1.6rem;
    font-weight: 100;
    color: #444;
}

#create-trade-record-btn:hover {
    color: #888;
}

#create-trade-record-form-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

#create-record-form {
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 270px;
    justify-content: center;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    background-color: #fff;
}

#create-record-form>label {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.form-input {
    width: 50%;
}

#submit-btn {
    font-size: 1.2rem;
    margin: 10px auto 0 auto;
    transition-duration: 100ms;
}

#submit-btn:hover {
    color: #888;
}

#create-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    text-align: center;
    opacity: 0%;
    background-color: rgb(191, 0, 0);
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 10px;
    transition-duration: 300ms;
}

#table-and-stock-info-container {
    display: flex;
    overflow: hidden;
}

.table-container {
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 0 0 10px;
}

.table-title {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 20px 0;
}

#trade-record-table th {
    position: sticky;
    top: 0;
}

#trade-record-table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#trade-record-table th:nth-child(n):not(:nth-last-child(1)),
#trade-record-table td:nth-child(n):not(:nth-last-child(1)) {
    border: 1px solid #ddd;
    padding: 5px 10px;
}

#trade-record-table th:nth-last-child(1),
#trade-record-table td:nth-last-child(1) {
    padding: 5px 10px;
}

#trade-record-table th:nth-child(n):not(:nth-last-child(1)) {
    background-color: #000;
    color: #fff;
}

#trade-record-table tr:nth-child(even)>:nth-child(n):not(:nth-last-child(1)) {
    background-color: #f2f2f2;
}

#trade-record-table tr:not(:nth-child(1)):hover>:nth-child(n):not(:nth-last-child(1)) {
    background-color: #ddd;
}

.trade-record-table-row .id {
    font-size: 0.8rem;
    color: #888;
}

.trade-record-table-row span.input {
    border: 1px solid transparent;
    padding: 2px 6px;
    transition-duration: 300ms;
}

.trade-record-table-row span.input:not(.not-editing) {
    border-color: #444;
    border-radius: 3px;
    background-color: #fff;
}

.trade-record-table-row span.input:not(.not-editing):hover {
    cursor: text;
}

.crud>div {
    display: flex;
    font-size: 0.8rem;
}

.crud>div>.update-btn,
.crud>div>.delete-btn,
.crud>div>.save-change-btn,
.crud>div>.forget-change-btn {
    cursor: pointer;
}

.crud>div>.update-btn {
    color: rgb(0, 149, 255);
}

.crud>div>.delete-btn {
    color: rgb(193, 0, 0);
}

.crud>div>.save-change-btn {
    color: #4CAF50;
}

.crud>div>.forget-change-btn {
    color: #888;
}

.divide-line {
    margin: 0 2px;
}

#info-today {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

#info-today>div {
    margin: 10px 20px;
}