html {
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    cursor: default;
}

form {
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 270px;
    justify-content: center;
}

form>label {
    display: flex;
    justify-content: space-between;
}

.form-input {
    width: 50%;
}

#submit-btn,
#query-btn {
    margin: 0 auto;
}

#trade-record-table {
    border-collapse: collapse;
}

#trade-record-table th:nth-child(n):not(:nth-last-child(1)),
#trade-record-table td:nth-child(n):not(:nth-last-child(1)) {
    border: 1px solid #ddd;
    padding: 5px 10px;
}

#trade-record-table th:nth-last-child(1),
#trade-record-table td:nth-last-child(1) {
    padding: 5px 10px;
}

#trade-record-table th:nth-child(n):not(:nth-last-child(1)) {
    background-color: #4CAF50;
}

#trade-record-table tr:nth-child(even)>:nth-child(n):not(:nth-last-child(1)) {
    background-color: #f2f2f2;
}

#trade-record-table tr:not(:nth-child(1)):hover>:nth-child(n):not(:nth-last-child(1)) {
    background-color: #ddd;
}

.trade-record-table-row .id\(timestamp\) {
    font-size: 0.8rem;
    color: #888;
}

.trade-record-table-row span.input.not-editing {
    /* border: none;
    background-color: transparent; */
}

.crud>div {
    display: flex;
    font-size: 0.8rem;
}

.crud>div>.update-btn,
.crud>div>.delete-btn {
    color: rgb(0, 149, 255);
    cursor: pointer;
}

.divide-line {
    margin: 0 2px;
}

#info-today {
    display: flex;
}

#info-today>div {
    margin: 10px 20px;
}