@use "../../global_variables" as _;

.main {
    width: min(93%, 400px);
    border: 1px solid _.$light-gray;
    border-radius: 8px;
    padding: 10px 20px;
    & > .header {
        position: relative;
        display: flex;
        justify-content: center;
        min-height: 70px;
        height: fit-content;
        padding: 10px 0;
        & > img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: _.$white;
            height: 25vw;
            max-height: 100px;
            padding: 15px;
            border-radius: 100px;
            border: 1px solid _.$light-gray;
        }
    }
    & > .body {
        display: flex;
        flex-direction: column;
    }
    & > .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        gap: 10px;
    }
}
