@use "../../../../global_variables" as _;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    min-height: calc(
        100% - _.$header-height - _.$footer-height -
            _.$show-header-border-boundry
    );
    width: 100%;
    .header {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        & > h1 {
            font-size: 1.25 * _.$base-font-size;
            font-weight: normal;
        }
    }
}
