@use "../../global_variables" as _;

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 230px;
    min-width: 230px;
    background-color: _.$white;
    overflow-y: auto;
    border-right: 0.5px solid _.$light-gray;
    .user_info {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        padding: 10px 5px;
        margin: 5px 10px;
        border-bottom: 1px solid _.$noisy-white;
        @media (hover: hover) {
            &:hover {
                & > .cta {
                    opacity: 1;
                    transform: translateX(10px);
                }
            }
        }
        & > img {
            width: 40px;
            min-width: 40px;
            border-radius: 100px;
        }
        & > .username {
            flex-grow: 1;
            font-size: 0.9 * _.$base-font-size;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;
        }
        & > .cta {
            opacity: 0;
            color: _.$gray;
            transition-duration: 300ms;
        }
    }
    & > .lower {
        position: absolute;
        bottom: 0;
        width: 100%;
        & > .logout_button {
            text-align: center;
            margin: 10px;
            border-radius: 8px;
            background-color: _.$noisy-white;
            padding: 8px;
            transition-duration: 150ms;
            font-size: 0.9 * _.$base-font-size;
            cursor: pointer;
            @media (hover: hover) {
                &:hover {
                    background-color: _.$light-gray;
                }
            }
        }
        & > .setting {
            padding: 10px 15px;
            border-top: 1px solid _.$light-gray;
            color: _.$gray;
            font-size: 0.9 * _.$base-font-size;
            display: flex;
            align-items: center;
            @media (hover: hover) {
                &:hover {
                    background-color: _.$noisy-white;
                }
            }
            & > span {
                margin: 0 8px;
            }
        }
    }
}

.small_screen_active_background {
    display: none;
}

.modal_inner {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        width: 250px;
        transform: translateX(-100%);
        transition-duration: 300ms;
        &.active {
            transform: translateX(0);
        }
    }
    .small_screen_active_background {
        &.active {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: block;
            background-color: _.$black;
            opacity: 0.5;
            z-index: 3;
        }
    }
}
