:root {
    --bgc: #fff;
    --lightGray: #bbb;
}

@media screen and (min-width:1024px) {
    /* :root {
        --tradeRecordTableWidth: 700px;
        --stockInfoTableWidth: 860px;
    } */
}

@media screen and (max-width:1024px) {
    /* :root {
        --tradeRecordTableWidth: 100%;
        --stockInfoTableWidth: 100%;
    } */
}


/* ::selection {
    color: #fff;
    background: var(--lightGray);
} */

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--lightGray);
}

html {
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    cursor: default;
    height: 100vh;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    height: inherit;
}

#main {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
}

#header {
    position: relative;
    min-height: 40px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1%;
}

#mode-btn {
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mode-btn:hover {
    background-color: #f5f5f5;
}

#mode-list {
    height: fit-content;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    top: 100%;
    right: 0%;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    z-index: 100;
}

.mode-option {
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

#simulator-option {
    color: #888;
    background-color: #f5f5f5;
}

#simulator-option:hover {
    cursor: default;
}

#recorder-option {
    color: #444;
}

.mode-option:hover {
    background-color: #f5f5f5;
}

#graph-container {
    min-height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 0.5rem;
    justify-items: stretch;
    /* justify-content: center; */
}

#lower-part {
    height: 35vh;
    width: 100%;
    background-color: #000;
}

#chart-list {
    height: 35%;
    width: 96%;
    padding: 10px 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy-option {
    height: fit-content;
    color: #AAA;
    margin: auto 30px;
}

.strategy-option:hover {
    color: #DDD;
}

.strategy-option.active {
    color: #FFF;
}

#start-btn {
    width: 100px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    background-color: #082;
    text-align: center;
    font-weight: 900;
    margin: 30px auto 0 auto;
}

#start-btn:hover {
    background-color: #071;
}

#start-btn:active {
    background-color: #060;
}