@use "../../../global_variables" as _;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    padding: 10px;
    background-color: _.$noisy-white;
    .app_list {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 100%;
        .app {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 110px;
            width: 110px;
            overflow: hidden;
            border-radius: 8px;
            transition-duration: 200ms;
            padding: 0 5px 20px 5px;
            background-color: _.$transparent-white;
            @media (hover: hover) {
                &:hover {
                    background-color: _.$white;
                }
            }
            & > img {
                width: 50%;
            }
            & > .app_name {
                display: flex;
                align-items: center;
                font-size: 0.9 * _.$base-font-size;
                word-break: break-all;
                padding: 0 3px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
        min-height: calc(
            100% - _.$header-height - _.$footer-height -
                _.$show-header-border-boundry
        );
    }
}
