@use "../../../global_variables" as _;

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 30px;
    & > h2 {
        color: _.$black;
    }
    & > .app_list {
        display: flex;
        gap: 20px;
        & > .app {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 110px;
            width: 110px;
            box-shadow: 0 0 5px 5px _.$transparent-black;
            overflow: hidden;
            border-radius: 8px;
            transition-duration: 200ms;
            padding: 0 5px 20px 5px;
            background-color: _.$transparent-white;
            @media (hover: hover) {
                &:hover {
                    background-color: _.$white;
                    box-shadow: 0 0 8px 8px _.$transparent-black;
                }
            }
            & > img {
                width: 50%;
            }
            & > .app_name {
                display: flex;
                align-items: center;
                font-size: 0.9 * _.$base-font-size;
                word-break: break-all;
                padding: 0 3px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
        height: calc(
            100% - _.$header-height - _.$footer-height -
                _.$show-header-border-boundry
        );
    }
}
