@use "../../../global_variables" as _;

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 30px;
    & > h2 {
        color: _.$black;
    }
    & > .app_list {
        display: flex;
        gap: 30px;
        & > .app {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 15px;
            & > .image_container {
                width: 80px;
                padding: 10px;
                border-radius: 10px;
                background-color: _.$transparent-white;
                box-shadow: 0 3px 15px 5px _.$transparent-black;
                transition-duration: 200ms;
                & > img {
                    width: 100%;
                }
                @media (hover: hover) {
                    &:hover {
                        background-color: _.$white;
                        box-shadow: 0 1px 5px 3px _.$transparent-black;
                    }
                }
            }
            & > .app_name {
                display: flex;
                align-items: center;
                font-size: 0.9 * _.$base-font-size;
                word-break: break-all;
                padding: 0 3px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
        height: calc(
            100% - _.$header-height - _.$footer-height -
                _.$show-header-border-boundry
        );
    }
}
