:root {
    --bgc: #fff;
    --lightGray: #bbb;
}

@media screen and (min-width:1024px) {
    :root {
        --tradeRecordTableWidth: 600px;
        --cashDividendTableWidth: 400px;
        --individualRecordTableWidth: 600px;
        --stockInfoTableWidth: 470px;
    }
}

@media screen and (max-width:1024px) {
    :root {
        --tradeRecordTableWidth: 100%;
        --cashDividendTableWidth: 100%;
        --individualRecordTableWidth: 100%;
        --stockInfoTableWidth: 100%;
    }
}

html {
    height: 100vh;
    overflow-x: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    height: inherit;
}

#header {
    justify-content: center;
}

#mode-btn {
    position: absolute;
    top: 2px;
    right: 1%;
}

#view-toggler {
    position: relative;
    display: flex;
    border: 1px solid #888;
    border-radius: 100px;
    height: 20px;
    width: 80px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.view-option {
    margin: 0 5px;
    color: #888;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    height: 100%;
}

#toggler-mask {
    position: absolute;
    top: -3%;
    background-color: #888;
    border-radius: 100px;
    width: 50%;
    height: 108%;
    padding: 0;
    margin: 0;
    transition-duration: 300ms;
}

#upper-part {
    width: 200vw;
    display: flex;
    transition-duration: 500ms;
}

#upper-part.individual {
    transform: translateX(-100vw);
}

#upper-part.overview {
    transform: translateX(0);
}

.chart-container {
    width: 100vw;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-around;
    height: calc(100vh / 2.5);
}

#cash-invested-chart,
#component-chart,
#compare-chart {
    width: max-content;
}

#cash-invested-chart-outter {
    display: flex;
    flex-direction: column;
}

#cash-invested-chart {
    height: max-content;
}

#cash-invested-show-range-container {
    display: flex;
    height: max-content;
    margin-top: 10px;
    justify-content: flex-end;
    align-items: center;
}

#cash-invested-show-range-input {
    height: 1px;
    width: 84%;
    outline: none;
    transform: rotate(180deg);
}

#cash-invested-show-range-input::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: grab;
}

#individual-price-quantity-chart,
#individual-compare-chart {
    min-width: calc(100vh / 3);
}

.upper-table-container {
    width: fit-content;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 0 0 10px;
    border-top: 3px solid var(--bgc);
}

#stock-warehouse-table {
    width: 350px;
}

.stock-warehouse-table-row.active,
.stock-warehouse-table-row.active:hover {
    background-color: rgb(179, 217, 255) !important;
}

#create-trade-record-btn-container {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 auto 25px auto;
}

#create-trade-record-btn {
    font-size: 1.6rem;
    font-weight: 100;
    color: #444;
    transition-duration: 300ms;
}

#create-trade-record-btn:hover {
    color: #888;
    cursor: pointer;
}

#create-trade-record-form-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
}

#create-trade-record-form-container.active {
    display: flex;
    flex-direction: column;
}

#create-record-form,
#submit-btn {
    width: 230px;
    background-color: var(--bgc);
    padding: 10px 25px;
    display: flex;
    justify-content: center;
}

#create-record-form {
    flex-direction: column;
    font-size: 1.1rem;
    border-radius: 8px 8px 0 0;
}

#create-record-form>label {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.form-input {
    width: 55%;
    border-radius: 100px;
    border: 1px solid #888;
    padding: 0 10px;
}

.form-input:focus {
    outline: none;
}

#submit-btn {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0;
    border-radius: 0 0 8px 8px;
    transition-duration: 100ms;
    cursor: pointer;
}

#submit-btn:hover {
    color: #888;
}

#create-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    text-align: center;
    opacity: 0%;
    background-color: rgb(191, 0, 0);
    color: #efefef;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    z-index: 200;
    transition-duration: 300ms;
}

.lower-table-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 0 0 10px;
    border-top: 3px solid var(--bgc);
}

.lower-table-container.active {
    display: flex !important;
}

.lower-table-container.close {
    display: none !important;
}

#table-and-stock-info-container {
    display: flex;
    overflow: hidden;
}

#trade-record-table-container {
    display: flex;
}

.table {
    border-collapse: collapse;
    text-align: end;
    margin-bottom: 50px;
}

.table th {
    position: sticky;
    top: 0;
    text-align: center;
}

#trade-record-table {
    width: var(--tradeRecordTableWidth);
}

#cash-dividend-table {
    width: var(--cashDividendTableWidth);
}

#individual-record-table {
    width: var(--individualRecordTableWidth);
}

#stock-info-table {
    width: var(--stockInfoTableWidth);
}

#trade-record-table th:nth-child(n):not(:nth-last-child(1)),
#trade-record-table td:nth-child(n):not(:nth-last-child(1)),
#cash-dividend-table th:nth-child(n):not(:nth-last-child(1)),
#cash-dividend-table td:nth-child(n):not(:nth-last-child(1)),
#individual-record-table th:nth-child(n):not(:nth-last-child(1)),
#individual-record-table td:nth-child(n):not(:nth-last-child(1)),
#stock-info-table th:nth-child(n),
#stock-info-table td:nth-child(n),
#stock-warehouse-table th:nth-child(n),
#stock-warehouse-table td:nth-child(n) {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #ddd;
    padding: 5px 10px;
}

#trade-record-table th:nth-last-child(1),
#trade-record-table td:nth-last-child(1),
#cash-dividend-table th:nth-last-child(1),
#cash-dividend-table td:nth-last-child(1),
#individual-record-table th:nth-last-child(1),
#individual-record-table td:nth-last-child(1) {
    padding: 5px 10px;
}

#trade-record-table th:nth-child(n):not(:nth-last-child(1)),
#cash-dividend-table th:nth-child(n):not(:nth-last-child(1)),
#individual-record-table th:nth-child(n):not(:nth-last-child(1)),
#stock-info-table th:nth-child(n),
#stock-warehouse-table th:nth-child(n) {
    background-color: #555;
    color: var(--bgc);
}

#trade-record-table tr:nth-child(even)>:nth-child(n):not(:nth-last-child(1)),
#cash-dividend-table tr:nth-child(even)>:nth-child(n):not(:nth-last-child(1)),
#individual-record-table tr:nth-child(even)>:nth-child(n):not(:nth-last-child(1)),
#stock-info-table tr:nth-child(even),
#stock-warehouse-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#trade-record-table tr:not(:nth-child(1)):hover>:nth-child(n):not(:nth-last-child(1)),
#cash-dividend-table tr:not(:nth-child(1)):hover>:nth-child(n):not(:nth-last-child(1)),
#individual-record-table tr:not(:nth-child(1)):hover>:nth-child(n):not(:nth-last-child(1)),
#stock-info-table tr:not(:nth-child(1)):hover,
#stock-warehouse-table tr:not(:nth-child(1)):hover {
    background-color: #ddd;
}

/*  */
.trade-record-table-row span.input {
    border: 1px solid transparent;
    padding: 2px 6px;
    transition-duration: 300ms;
}

.trade-record-table-row span.input:not(.not-editing) {
    border-color: #444;
    border-radius: 3px;
    background-color: var(--bgc);
}

.trade-record-table-row span.input:not(.not-editing):hover {
    cursor: text;
}

.crud>div {
    display: flex;
    font-size: 0.8rem;
}

.crud>div>.update-btn,
.crud>div>.delete-btn,
.crud>div>.save-change-btn,
.crud>div>.forget-change-btn {
    cursor: pointer;
}

.crud>div>.update-btn {
    color: rgb(0, 149, 255);
}

.crud>div>.delete-btn {
    color: rgb(193, 0, 0);
}

.crud>div>.save-change-btn {
    color: #4CAF50;
}

.crud>div>.forget-change-btn {
    color: #888;
}

.divide-line {
    margin: 0 2px;
}