@use "../../global_variables" as _;

.header {
    background-color: _.$white;
    height: _.$header-height;
    min-height: _.$header-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    color: _.$white;
    user-select: none;
    border-bottom: 1px solid _.$noisy-white;
    gap: 10px;
    z-index: 2;
    & > .app_outer,
    & > .user_avatar_outer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 35px;
        width: 35px;
        border-radius: 100px;
        color: _.$deep-gray;
        transition-duration: 300ms;
        & > .app_icon,
        & > .user_avatar {
            height: 100%;
            display: flex;
            align-items: center;
            color: _.$gray;
            cursor: pointer;
        }
        @media (hover: hover) {
            &:hover {
                background-color: _.$noisy-white;
            }
        }
    }
}
