@use "../../global_variables" as _;

.main {
    display: none;
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
        position: sticky;
        top: -1 * _.$show-header-border-boundry;
        display: block;
        height: _.$header-height + _.$show-header-border-boundry;
        z-index: 2;
        backface-visibility: hidden;
        &::before,
        &::after {
            content: "";
            position: sticky;
            display: block;
            height: _.$show-header-border-boundry;
        }
        &::before {
            top: _.$header-height - _.$show-header-border-boundry;
            box-shadow: 0 0 0 1px _.$noisy-white;
        }
        &::after {
            top: 0;
            background: _.$white;
            z-index: 3;
        }
        & > .header_inner {
            position: sticky;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: _.$header-height;
            width: 100%;
            margin-top: -1 * _.$show-header-border-boundry;
            padding: 0 15px;
            background-color: _.$white;
            z-index: 4;
            .user_avatar {
                width: 30px;
                border-radius: 100px;
            }
        }
    }
}
