@use "../../../global_variables" as _;

.main {
    $card-width: min(87vw, 340px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    & > .background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.25;
        background-position: 50%
            (_.$header-height + _.$show-header-border-boundry);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../../../assets/unnamed.jpg");
    }
    .switch_button_container {
        display: flex;
        width: fit-content;
        padding: 3px;
        border-radius: 8px;
        background-color: _.$light-gray;
        margin: 0 auto;
        margin-bottom: 10px;
        & > hr {
            border: none;
            border-left: 2px solid;
            border-radius: 10px;
            color: _.$gray;
            margin: 5px 4px;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95px;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: _.$transparent-white;
        box-shadow: 0 3px 8px 0 _.$light-gray;
        width: $card-width;
        transition-duration: 100ms;
        cursor: pointer;
        @media (hover: hover) {
            &:hover {
                background-color: _.$white;
                box-shadow: 0 8px 15px 0 _.$light-gray;
            }
        }
        & > .upper {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            & > .company {
                width: 33.4%;
                font-weight: bold;
                font-size: 0.9 * _.$base-font-size;
            }
            & > .mid {
                width: 31%;
                font-size: 0.7 * _.$base-font-size;
            }
            & > .price {
                flex-grow: 1;
                text-align: right;
                font-weight: bold;
                font-size: 1.2 * _.$base-font-size;
                font-family: monospace;
            }
        }
        & > .lower {
            display: flex;
            gap: 8px;
            align-items: flex-end;
            font-size: 0.7 * _.$base-font-size;
            & > .inventory {
                width: 33.4%;
            }
            & > .average_cost {
                width: 25%;
            }
            & > .rate_of_return {
                flex-grow: 1;
                text-align: right;
            }
        }
        &.red {
            .upper {
                .mid,
                .price {
                    color: _.$red;
                }
            }
        }
        &.green {
            .upper {
                .mid,
                .price {
                    color: _.$green;
                }
            }
        }
    }
    & > .stock_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, $card-width);
        gap: 20px;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        overflow: auto;
    }
    & > .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin-bottom: 20px;
        overflow: auto;
        & > .menu {
            padding: 5px;
            outline: none;
            border-radius: 8px;
        }
        & > .block {
            width: fit-content;
            & > .title {
                font-weight: normal;
                font-size: _.$base-font-size;
            }
            & > .body {
                position: relative;
                display: flex;
                flex-direction: column;
                width: min(420px, 87vw);
                border-radius: 15px;
                overflow: hidden;
                background-color: _.$transparent-white;
                box-shadow: 0 0 5px 0 _.$noisy-white;
                &.histogram {
                    height: 280px;
                }
                &.performance {
                    .row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 18px 15px;
                        font-size: 0.85 * _.$base-font-size;
                        color: _.$gray;
                        &:not(:last-child) {
                            border-bottom: 2px solid _.$noisy-white;
                        }
                        & > .number {
                            font-family: monospace;
                            font-size: 1.05 * _.$base-font-size;
                            color: _.$black;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
        height: calc(
            100% - _.$header-height - _.$footer-height -
                _.$show-header-border-boundry
        );
        padding: 0;
    }
}
