@use "../../../global_variables" as _;

.main {
    $card-width: min(87vw, 340px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px 0;
    & > .background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.25;
        background-position: 50%
            (_.$header-height + _.$show-header-border-boundry);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../../../assets/unnamed.jpg");
    }
    .switch_button_outer {
        width: 100%;
        background-color: _.$white;
        .switch_button_container {
            display: flex;
            width: fit-content;
            padding: 3px;
            border-radius: 8px;
            background-color: _.$light-gray;
            margin: 0 auto;
            margin-bottom: 10px;
            & > hr {
                border: none;
                border-left: 2px solid;
                border-radius: 10px;
                color: _.$gray;
                margin: 5px 4px;
            }
        }
    }
    & > .stock_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, $card-width);
        gap: 20px;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        overflow: auto;
    }
    & > .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding-bottom: 50px;
        overflow: auto;
        & > .upper {
            position: sticky;
            top: 0;
            display: flex;
            gap: 10px;
            width: 100%;
            padding: 0 15px;
            background-color: _.$white;
            z-index: 1;
            .menu {
                padding: 5px;
                outline: none;
                width: 150px;
                border-radius: 8px;
            }
        }
        & > .block {
            width: fit-content;
            & > .title {
                font-weight: normal;
                font-size: _.$base-font-size;
            }
            & > .body {
                position: relative;
                display: flex;
                flex-direction: column;
                width: min(420px, 87vw);
                border-radius: 15px;
                overflow: hidden;
                background-color: _.$transparent-white;
                box-shadow: 0 0 5px 0 _.$noisy-white;
                &.histogram {
                    height: 280px;
                }
                &.performance {
                    .row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 18px 15px;
                        font-size: 0.85 * _.$base-font-size;
                        color: _.$gray;
                        &:not(:last-child) {
                            border-bottom: 2px solid _.$noisy-white;
                        }
                        & > .number {
                            font-family: monospace;
                            font-size: 1.05 * _.$base-font-size;
                            color: _.$black;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
        height: calc(
            100% - _.$header-height - _.$footer-height -
                _.$show-header-border-boundry
        );
        padding: 0;
    }
}
