@use "../../../global_variables" as _;

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    & > .background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.25;
        background-position: 50%
            (_.$header-height + _.$show-header-border-boundry);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../../../assets/unnamed.jpg");
    }
    .switch_button_container {
        display: flex;
        width: fit-content;
        padding: 3px;
        border-radius: 8px;
        background-color: _.$light-gray;
        margin: 0 auto;
        margin-bottom: 10px;
        & > hr {
            border: none;
            border-left: 2px solid;
            border-radius: 10px;
            color: _.$gray;
            margin: 5px 4px;
        }
    }
    .subpage_outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: auto;
        & > .stock_list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: fit-content;
            margin-bottom: 20px;
            & > .card {
                padding: 10px;
                border-radius: 8px;
                background-color: _.$transparent-white;
                box-shadow: 0 3px 8px 0 _.$light-gray;
                width: min(85vw, 320px);
                & > .upper {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    & > .company {
                        width: 33.4%;
                        font-weight: bold;
                        font-size: 0.9 * _.$base-font-size;
                    }
                    & > .mid {
                        width: 30%;
                        font-size: 0.7 * _.$base-font-size;
                    }
                    & > .price {
                        flex-grow: 1;
                        text-align: right;
                        font-weight: bold;
                        font-size: 1.2 * _.$base-font-size;
                        font-family: monospace;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
        height: calc(
            100% - _.$header-height - _.$footer-height -
                _.$show-header-border-boundry
        );
        padding: 0;
    }
}
