:root {
    --bgc: #fff;
    --lightGray: #bbb;
}

@media screen and (min-width:1024px) {}

@media screen and (max-width:1024px) {}

#main {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
}

#chart-container {
    min-height: calc(70vh);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 0.5rem;
    justify-items: stretch;
}

#lower-part {
    height: calc(30vh - 40px);
    width: 100%;
    background-color: #000;
}

#option-list {
    height: 35%;
    width: 96%;
    padding: 10px 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy-option {
    height: fit-content;
    color: #AAA;
    margin: auto 30px;
}

.strategy-option:hover {
    color: #DDD;
}

.strategy-option.active {
    color: #FFF;
}

#start-btn {
    width: 100px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    background-color: #082;
    text-align: center;
    font-weight: 900;
    margin: 20px auto 0 auto;
}

#start-btn:hover {
    background-color: #071;
}

#start-btn:active {
    background-color: #060;
}